html {
    background-color: maroon;
    color: antiquewhite;

}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 0;
  }

.table {
  margin-bottom: 30px;
  background-color: antiquewhite;
  color: maroon;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead th {
  font-size: 16px;
  font-weight: bold;
  color: maroon;
  background-color: pink;
  border-color: pink;
}

.table tbody td {
  font-size: 14px;
}

#myForm {
  margin-bottom: 30px;
  background-color: antiquewhite;
  color: maroon;
  border-radius: 3px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding: 30px;
} 

.formElement {
  font-size: 14px;
  height: 40px;
  padding: 8px 12px;
  border: 1px solid antiquewhite;
  border-radius: 3px;
  box-shadow: none;
}

.addButton {
  font-size: 16px;
  font-weight: bold;
  background-color: pink;
  border-color: pink;
  color: maroon;
  border-radius: 3px;
  padding: 10px 20px;
}

.addButton:hover {
  background-color: hotpink;
  border-color: hotpink;
}

.pesciPic {
  width: 75px;
  float: right;
}